<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinecraftDeobfuscator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <MinecraftDeobfuscator.Properties.Settings>
            <setting name="VersionJsonUrl" serializeAs="String">
                <value>http://export.mcpbot.bspk.rs/versions.json</value>
            </setting>
            <setting name="SRGZipUrl" serializeAs="String">
                <value>http://export.mcpbot.bspk.rs/mcp/{0}/mcp-{0}-srg.zip</value>
            </setting>
            <setting name="StableZipUrl" serializeAs="String">
                <value>http://export.mcpbot.bspk.rs/mcp_stable/{0}-{1}/mcp_stable-{0}-{1}.zip</value>
            </setting>
            <setting name="SnapshotZipUrl" serializeAs="String">
                <value>http://export.mcpbot.bspk.rs/mcp_snapshot/{0}-{1}/mcp_snapshot-{0}-{1}.zip</value>
            </setting>
            <setting name="LiveFields" serializeAs="String">
                <value>http://export.mcpbot.bspk.rs/fields.csv</value>
            </setting>
            <setting name="LiveMethods" serializeAs="String">
                <value>http://export.mcpbot.bspk.rs/methods.csv</value>
            </setting>
            <setting name="LiveParams" serializeAs="String">
                <value>http://export.mcpbot.bspk.rs/params.csv</value>
            </setting>
            <setting name="FieldsFileName" serializeAs="String">
                <value>fields.csv</value>
            </setting>
            <setting name="MethodsFileName" serializeAs="String">
                <value>methods.csv</value>
            </setting>
            <setting name="ParamsFileName" serializeAs="String">
                <value>params.csv</value>
            </setting>
        </MinecraftDeobfuscator.Properties.Settings>
    </applicationSettings>
</configuration>